.bg-green {
  background-color: #72bb53;
  border-color: #72bb53;
}

.bg-blue {
  background-color: #004E63;
}

.btn-navy {
  color: #fff;
  background-color: #004E63;
  border-color: #004E63;
}

.star-white {
  color: #fff
}